<!DOCTYPE HTML>
<html>
	<head>
		<title>lunaXs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../includes/main.css" />
	
	</head>
	<style>
span.small {
  font-size: smaller;
}
</style>

		<!-- Header -->
			<header id="header">
			<img src="../includes/lunaxs.png" class="w3-image" alt="lunaXs">
				<h1>lunaXs</h1>
				<p>A modern place for authors and readers to connect<br />
				alpha site comming soon. <br><span class="small"><i>With DocCIS's works</i></span></p>
			</header>


		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/lunaXs3" target="_blank" class="fa fa-twitter"></a></li>
					<li><a href="https://minqetesh.blogspot.com/" target="_blank" class="fa fa-tablet"></a></li>
					<li><a href="mailto:support@lunaxs.com?subject=Coming Soon" target="_blank" class="fa fa-envelope"></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2020 lunaXs</li><li> <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

	
			<script src="../includes/main.js"></script>
		


	</body>
</html>